/*公用*/
body {
	background-color: #ddd;
	padding: 0;
	margin: 0;
	font-family: "Microsoft Yahei"
}

h3 {
	font-size: 16px;
	color: #696772;
}

p{
	text-indent: 2em;
}

section {
	border: 1px solid #cdcdcd;
	padding: 1.2em;
	margin-bottom:1.3em; 
	background: #fff;
	-webkit-box-shadow:.1em .1em 1px #888;
	-moz-box-shadow:.1em .1em 1px #888;
	box-shadow: 2px 2px 1px #909090;
}

/*header部分*/
header {
	position: relative;
	top: 0; 
	left: 0;
	height: 75px;
	background-color: #89c3d8;
}

header img {
	-webkit-transform-origin: left top;
	-moz-transform-origin:left top;
  	transform-origin: left top;
	-webkit-transform: scale(.5);
  	-moz-transform:scale(.5)
  	transform: scale(.5);
}

header h1 {
	display: inline-block;
	position: absolute;
	left: 40%;
	top:20%;
	margin: 0 auto;
}

header ul {
 	position: absolute;
 	top: 0;
 	right: 0;
 	height: 50px;
 	margin-top: 20px;
}

header li {
	float: left;
	margin-left: 1em;
}

header a {
	margin-right: 1.3em;
	font-size: 12px;	
	text-decoration: none;
	color:#ffa765;
}

header a:visited {
	color:#000
}

/*中间container界面*/
.container {
	position: relative;
	width: 97%;
	margin: 1.5em auto;
}

/*左侧main主界面*/
.main {
	margin-right: 410px;	
}

.main section ul li {
	margin-bottom:.5em;
	list-style: none;
}

/*pictrue部分自适应*/
/*这个是关键。。overflow。。但是hidden和auto在这里的差别是什么啊*/
.main #picture {
	overflow: auto;
}

.main #picture figure {
	float: left;
	padding: 10px;
	margin:16px 10px;
	width: 125px;
	text-align: center;
	border: 1px solid #ccc;
}

.main #picture img {
	margin-top: 10px;
	width: 125px;
	height: 78px;
}

.main .clear {
	clear: left;
}
/*sidebar部分*/
#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
	box-sizing: 
}

#sidebar h3 {
	border-left: 3px solid #ccc;
	padding-left: 1em;	
	line-height: 42px;
	color: #000;
}

/*form部分，这里很多弄不清楚*/
form > div {
	position: relative;
	margin: 1em auto;
	font-size: 0.8em;*/
	/*这个是为了控制整个form（除submit）部分进行定位*/
}

/*为了对齐，写了个类，然后再将需要进行text-align:right*/
form .label {       
	display: inline-block;
	margin-top: 10px;
	width: 90px;
	text-align: right;
}

form div p {
	padding-left: 6.7em;
	font-size: .9em;
	color: #999;
}

form div #text,
form div #password, 
form div #rePassword,
form div #male,
form div #city,
form div #sport {
	margin-left: .8em;
}


form textarea {
	margin-left: .8em;
	vertical-align: text-top; 
	width: 65%;
	height: 6em;
}

form #submit {
	display: block;
	border-radius: .7em;
	margin:.5em auto;
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #3355d0;
}

/*footer部分*/
footer {
	height: 75px;
	text-align: center;
	font-size: .3em;
	font-weight: bold;
	background-color: #89c3d8;
}

footer p {
	padding-top: 15px;
}

/*table部分*/
table {
	width: 100%;
	border:1px solid #ccc;
	border-collapse: collapse;
}

table th {
	text-align: left;
	color: #fff;
	background-color: #333;
}