@charset "utf-8";
body,div,select,button,form,label,input {
	padding: 0px;
	margin: 0px;
}

h3 {
	display: block;
	width: 250px;
	line-height: 30px;
	border: 2px solid #ccc;
	border-radius: 20px;
	text-align: center;
	margin: 40px auto;
}

#calendar {
	display: none;
	width: 400px;
	padding: 10px;
	border:2px solid #57abff;
	margin: 20px auto;
	font-weight: bold;
	word-spacing: -8px;
}

select,
button{
	display: inline-block;
	box-sizing: border-box;
	width: 110px;
	height: 30px;
	word-spacing: 0;
}

button {
	margin-right: 0;
}

table {
	width: 400px;
	margin-top: 10px;
	border-top: 1px solid #57abff;
	text-align: center;
}

thead {
	height: 50px;
	border: 1px solid #ccc;
}

tr {
	height: 50px;
	border: 1px solid #ccc;
}

td:hover {
	outline:3px solid #fb0;
}

.active {
	background-color: #fb0;
}

.unNowMonth {
	color: #ccc;
}

.holiday {
	color: #f00;
}
